.App {
  text-align: center;
}

.header {
  display: flex;
  background: rgb(202, 200, 200);
}

.header-details {
  display: grid;
}

.title {
  margin: 0 auto;
}

.body {
  font-family: 'Courier New', Courier, monospace;
  /* display: inline-grid; */
}

.content {
  display: flex;
}

.section {
  display: contents;
  /* display: inline-grid; */
  /* margin: 0 auto; */
  /* padding-top: 5vh; */
  /* margin-left: 30vw; */

}

.section-title {
  padding: 20px;
}

.form {
  /* margin: 0 auto;  */
}

.hoverable:hover {
  color: blue;
}